@import "../../variables";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: $sidebar-length;
  overflow-y: auto;
  background-color: $white-color;
  padding: 7rem 0 3rem 0;
  box-shadow: 0, 5px, 20px, rgba(0, 0, 0, 0.04);
  transition: transform 0.3s linear;

  @include respond("lg") {
    left: -100%;
  }

  scrollbar-width: 0.5rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($secondary-color, 0.4);
    border-radius: 10px;
    border: 3px solid #f5f5f5;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($secondary-color, 0.8);
  }
}

.sidebar-switch {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  align-items: center;
  gap: 1rem;
  span {
    font-size: 1rem;
    color: $secondary-color;
    font-weight: 500;
  }
}

.sidebar-dashboard {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  p {
    font-size: $font-size-base;
    color: rgba($secondary-color, 0.4);
    font-weight: 500;
  }
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    color: $gray-color;
    font-size: $font-size-sm;
    text-transform: uppercase;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    li a {
      position: relative;
      display: flex;
      padding: 0.75rem 0.75rem 0.75rem 2rem;
      align-items: center;
      gap: 1rem;
      &:hover {
        background: rgba($primary-color, 0.06);
      }

      span {
        font-size: $font-size-base;
        color: rgba($secondary-color, 0.6);
        font-weight: 400;
      }
    }
  }
}

.active-sidebar-link {
  background: rgba($primary-color, 0.06);
  span {
    color: $secondary-color;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0.25rem;
    background-color: $primary-color;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.sidebar-footer {
  margin-top: 2rem;
  button {
    display: flex;
    padding: 2rem 0.75rem 0.75rem 2rem;
    align-items: center;

    gap: 1rem;
    span {
      font-size: $font-size-base;
      color: $secondary-color;
      font-weight: 500;
    }
  }
  p {
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    font-size: $font-size-xs;
    color: $secondary-color;
  }
}
