@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+DE+Grund:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: $background-color;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  width: 100vw;
  overflow-x: hidden;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  font-size: $font-size-base;
}

.content {
  padding: calc($navbar-height + 3rem) 3rem 3rem calc($sidebar-length + 3rem);

  @include respond("lg") {
    padding: calc($navbar-height + 2rem) 2rem 2rem calc($sidebar-length + 2rem);
  }
  @include respond("md") {
    padding: calc($navbar-height + 1.5rem) 1.5rem 1.5rem 1.5rem;
  }

  @include respond("sm") {
    padding: calc($navbar-height + 1rem) 1rem 1rem 1rem;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: rgba($secondary-color, 0.1);
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    color: $primary-color;
  }
}
