@import "../../variables";

header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: 5rem;
  background-color: $white-color;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.04);
}

form {
  position: relative;
  display: flex;
  width: min(100%, 400px);
  align-items: center;
  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid rgba($gray-color, 0.2);
    border-radius: 0.5rem;
    color: $gray-color;
    &::placeholder {
      color: rgba($gray-color, 0.5);
    }
  }
  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 1rem;
    height: 100%;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    img {
      height: 70%;
      object-fit: contain;
    }
  }
}

section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  button {
    padding: 0 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.user-dropdown {
  display: flex;
  img {
    border-radius: 50%;
  }
}
