@import "../../variables";

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.page-title {
  color: $secondary-color;
  font-size: 1.75rem;
  font-weight: 500;
}

.stats {
  display: flex;
  gap: 2rem;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    width: 100%;
    padding: 1.25rem;
    background-color: $white-color;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    text-transform: uppercase;
    border-radius: 0.25rem;
    span {
      padding: 0.75rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      &[data-color="#DF18FF"] {
        background-color: rgba(#df18ff, 0.1);
      }
      &[data-color="#5718FF"] {
        background-color: rgba(#5718ff, 0.1);
      }
      &[data-color="#F55F44"] {
        background-color: rgba(#f55f44, 0.1);
      }
      &[data-color="#FF3366"] {
        background-color: rgba(#ff3366, 0.1);
      }
    }
    p {
      font-size: 0.875rem;
      color: $gray-color;
    }
    h3 {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }
}

.table-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.table-container {
  position: relative;
  overflow-x: auto;
  background-color: $white-color;
  border-radius: 0.5rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 1rem;
  &::-webkit-scrollbar {
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($secondary-color, 0.4);
    border-radius: 10px;
    border: 3px solid #f5f5f5;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($secondary-color, 0.8);
  }

  .table {
    width: 100%;
    text-align: left;
    font-size: $font-size-sm;
    color: $gray-color;
    border-collapse: collapse;

    thead {
      .table-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem;
        color: $gray-color;
        span {
          white-space: nowrap;
          text-transform: uppercase;
          font-size: $font-size-xs;
          font-weight: 600;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: darken($white-color, 2%);
        }
        th,
        td {
          padding: 1rem 1.5rem;
          font-weight: 500;
          border-bottom: 1px solid rgba($gray-color, 0.2);
        }
        &:last-child {
          th,
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;

  div {
    display: flex;
  }

  .left-pagination {
    gap: 1rem;
  }
  .right-pagination {
    gap: 0.25rem;
  }
}

.table-modal-form {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba($gray-color, 0.05);
  width: max(100%, 20rem);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    input,
    select {
      width: 100%;
      padding: 1rem;
    }
  }
}
